NEXT_PUBLIC_SUPABASE_URL=https://sheokyflemhabeurmpvm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNoZW9reWZsZW1oYWJldXJtcHZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNjk2NTUsImV4cCI6MjA4OTg0NTY1NX0.Dfkz04FY5vMbE60ANVDT7pQDQM9naxWk7qI0__8KB-M
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_u9kKiw1rtmFzq44vAW4ZIA_3Ki_ZjlZ
